.Windows{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Windows img{
    align-items: center;
  
    width: 100px;
}
.Windows p {
    font-size: 20px;
    font-weight: bolder;
}

.Windows a{
    row-gap: 20px;
    margin-right: 20px;
    padding-left: 10px;
    text-decoration: none;
    color: whitesmoke;
}
.selection a{
    row-gap: 20px;
    margin-right: 20px;
    padding-left: 10px;
    text-decoration: none;
    color: whitesmoke;
}

.ver1{
    background-color: darkkhaki;
    font-size: 20px;
    padding-top: 5px;
    color: whitesmoke;
    height: 60px;
    padding-left: 10px;
    border: 2px solid;
    border-radius: 10px 0 0  10px ;
    border-left: 5px solid red;
}

.version p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: green;
}

.Macos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Macos img{
    align-items: center;
  
    width: 100px;
}
.Macos p {
    font-size: 20px;
    font-weight: bolder;
}

.Macos a{
    row-gap: 20px;
    margin-right: 20px;
    padding-left: 10px;
    text-decoration: none;
    color: whitesmoke;
}

.Linux{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Linux img{
    align-items: center;
  
    width: 100px;
}
.Linux p {
     text-align: justify;   
    font-size: 20px;
    font-weight: bolder;
}

.Linux a{
    row-gap: 20px;
    margin-right: 20px;
    padding-left: 10px;
    text-decoration: none;
    color: whitesmoke;
}
